* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('images/img1.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
}

nav {
    font-style: normal;
    padding: 10px 0;
    text-align: center;
    text-align: left;
    float: left;
    margin-left: 10em;
}

header {
    color: #1d1c1c;
    margin-top: 8em;
    margin-left: 5em;
    padding: 20px 20px;
}

.titule {
    color: rgb(12, 12, 12);
    font-family: "Major Mono Display", monospace;
    font-weight: 1000;
    font-style: normal;
    font-size: 3.5em;
    background-color: #d8d521;
    border-radius: 0.02em;
    display: inline-block;
    padding: 0.4em;
    transition: transform 0.3s ease-in-out, translate 0.3s ease-in-out;
    box-shadow: 0 0 10px 4px rgba(231, 229, 162, 0.6);
    animation: slideDown 0.8s ease-in-out forwards; /* Animación */
}

@keyframes slideDown {
    0% {
        transform: translateY(-100px); /* Empieza fuera de la pantalla */
        opacity: 0; /* Invisible */
    }
    100% {
        transform: translateY(0); /* Entra a su posición original */
        opacity: 1; /* Se hace visible */
    }
}

.titule:hover {
    transform: scaleX(1.15);
}

.titule span {
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1);
}

.titule span:hover {
    color: #fcf8f8;
    transform: scale(1.5);
}

header h1 {
    font-size: 1em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 1em;
}

#linea-vertical-wrapper {
    position: relative;
}

.linea-vertical {
    position: absolute;
    top: 17.5em;
    left: 7em;
    width: 0.1em;
    height: 0;
    background-color: #d8d521;
    animation: dibujarLinea 4s ease-out forwards;
    box-shadow: 0 0 10px 2px rgba(231, 229, 162, 0.6);
}

@keyframes dibujarLinea {
    0% {
        height: 0;
    }

    100% {
        height: 38em;
    }
}

.description {
    font-size: 1.1em;
    font-family: 'Malgun Gothic', sans-serif;
    margin-left: 13em;
    margin-right: 4em;
    text-align: justify;
    padding: 3em;
    margin-top: 0;
}


.arrow-down {
    width: 0;
    height: 0;
    border-left: 24px solid transparent; /* Lado izquierdo */
    border-right: 24px solid transparent; /* Lado derecho */
    border-top: 20px solid #0f0f0f; 
    margin: 20px auto; 
    animation: bounce 1s infinite; 
    margin-top: 11em;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Posición inicial */
    }
    40% {
        transform: translateY(10px); /* Rebote hacia abajo */
    }
    60% {
        transform: translateY(5px); /* Rebote intermedio */
    }

}

.container2 {
    display: flex;
    margin-top: 6em;
}

.circle {
    width: 3em;
    height: 3em;
    background-color: #EFE24E;
    border-radius: 50%;
    margin-left: 5.7em;
    box-shadow: 0 0 10px 2px rgba(231, 229, 162, 0.6);
    transition: transform 0.3s ease-in-out;
}

.circle:hover {
    transform: scale(1.1)
}

.titule-projects {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
    margin-left: 0.3em;
    list-style: none;
}

.titule-projects span {
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1);
}

.titule-projects span:hover {
    color: #EFE24E;
    transform: scale(1.5);
}



.list {
    margin-top: 35em;
    list-style: none;
    margin-bottom: 5em;  
    float: left; 
    margin-left: 9em;
    width: 82%;
}

.project-item1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8em;
    color: white;
    background-color: black;
    border-radius: 0.02em;
    padding: 1.5em;
    margin-top: 1em;
    
}



.view-project {
    display: inline-block;
    margin-left: 25em;
    color: #EFE24E;
    font-family: 'Malgun Gothic', sans-serif;
    font-weight: 530;
}

.project-item2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8em;
    color: white;
    background-color: black;
    border-radius: 0.02em;
    padding: 1.5em;
    margin-top: 1em;
    transition: transform 0.3s ease;   
}

.project-item3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8em;
    color: white;
    background-color: black;
    border-radius: 0.02em;
    padding: 1.5em;
    margin-top: 1em;
    transition: transform 0.3s ease;   
}

















.container3 {
    display: flex;
}

.skill {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
    margin-left: 0.3em;
    list-style: none;
}

.subskill {
    font-family: 'Malgun Gothic', sans-serif;

    padding: 1em;
    margin-top: 1em;
}